<p id="notice"><%= notice %></p>

<h1>Listing Galleries</h1>

    <% @galleries.each do |gallery| %>

        Name: <%= gallery.name %><br>
        Description: <%= gallery.description %><br>
        <%= link_to (image_tag gallery.galleryimage.url(:thumbsm).to_s), gallery %><br>
        <%= link_to 'Edit', edit_gallery_path(gallery) %>
        <%= link_to 'Destroy', gallery, method: :delete, data: { confirm: 'Are you sure?' } %>
      <br><br><br>
    <% end %>

<br>

<%= link_to 'New Gallery', new_gallery_path %>
